<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594279669584-9c5231onl4feqa4a72haan56m1avs2ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594279669584-9c5231onl4feqa4a72haan56m1avs2ka</string>
	<key>API_KEY</key>
	<string>AIzaSyAjVDJodjlsuSROx7zF-AdhUsU-sdaliLM</string>
	<key>GCM_SENDER_ID</key>
	<string>594279669584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyaskommuri.miraquaapp</string>
	<key>PROJECT_ID</key>
	<string>miraqua</string>
	<key>STORAGE_BUCKET</key>
	<string>miraqua.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594279669584:ios:d710ba0a18dc75bbafd655</string>
</dict>
</plist>