Flask==2.3.3
Flask-Cors==4.0.0
supabase==2.15.2
python-dotenv==1.0.1
requests==2.31.0
requests-cache==1.2.1
retry-requests==2.0.0
openmeteo-requests==1.5.0
timezonefinder==6.5.9
google-generativeai==0.8.5
python-dateutil==2.9.0.post0
pandas==1.4.4
gunicorn==22.0.0
numpy==1.23.5
